@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Manrope:wght@200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #ebe0d6;
  font-family: "Manrope", sans-serif;
}
